html {
	background-image: url("/assets/background.jpeg");
	background-position: center;
	background-repeat: no-repeat;
	background-size:cover;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: larger;
	overflow: hidden;
	-webkit-box-shadow:0px 0px 5px #fff inset,5px 5px 15px #333 inset;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*, *:before, *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}
body {
	margin: 0;
	min-height: 100vh;
}
p {
	margin-block: 0;
	;
}
a:link {
	color:burlywood
}
a:visited {
	color:rgb(147, 124, 250)
}
h1 {
	line-height: 0;
	font-size: 40px;
	text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.5);
	-webkit-text-stroke: 0.5px  rgba(141, 141, 141, 0.25);
}
/* ------------- CLASSES ------------- */
.main {
	height: 98.2vh;
	display: grid;
	grid-template-rows: max-content;
	grid-template-areas:
	"header header header header header"
	"menu . content . .";
}
/* ------------- HEADER ------------- */
.header{
	color: white;
	text-align: center;
	display: grid;
	grid-template-columns: 15% auto 20%;
	grid-template-areas:
	"header-left header-top header-right"
	"header-left header-bottom header-right";
	grid-area: header;
}
.header h1 {
	margin-block: 0;
	font: bold 100px arial, sans-serif;
	background-color: #F8BE2B;
	color: transparent;
	text-shadow: 2px 2px 3px rgba(42, 42, 42, 0.5);
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	-webkit-text-stroke: 0.5px  #000000;
	-webkit-filter: drop-shadow(0px 0px 8px rgba(195, 160, 70, 0.7));
	filter: drop-shadow(0px 0px 8px rgba(195, 160, 70, 0.7));
}
.header-left{
	grid-area: header-left;
	height: fit-content;
}
.header-top{
	grid-area: header-top;
	height: fit-content;
}
.header-bottom{
	height: fit-content;
	display: flex;
	justify-content: center;
	grid-area: header-bottom;
}
.header-right{
	height: fit-content;
	grid-area: header-right;
	padding: 10px;
	text-shadow: 2px 2px 3px rgba(42, 42, 42, 0.5);
}
.header button{
	margin: 5px;
	width: 150px;
	height: 35px;
	border-radius: 5px;
	-webkit-box-shadow:0px 0px 5px #fff inset,5px 5px 15px #333 inset;
	background-color: rgb(59, 59, 59);
	color: rgb(255, 181, 44);
}
.header-bottom button:hover{
	-webkit-box-shadow:0px 0px 5px #fff inset,5px 5px 15px #333 inset;
	background-color: rgb(87, 87, 87);
}
.admin-button {

}
.admin-button-hide {
	display: none;
}



.header img{
	margin: 5%;
	z-index: -10;
	width: 128px;
	-webkit-filter: drop-shadow(0px 0px 8px rgba(195, 160, 70, 0.7));
	filter: drop-shadow(0px 0px 8px rgba(195, 160, 70, 0.7));
}
/* ------------- DISCORD ------------- */
.discord {
	grid-area: discord;
}
/* ------------- MENU ------------- */
.menu{
	padding: 15px;
	border-radius: 15px;
	position: absolute;
	min-height: 350px;
	max-height: 550px;
	min-width: 300px;
	max-width: 300px;
	left: 1%;
	top: 25%;
	grid-area: menu;
	background-color: #555555;
	transition-duration: 0.5s;
	-webkit-box-shadow:0px 0px 5px #fff inset,5px 5px 15px #333 inset;
}
.menu-hide {
	left: -200vh;
}
.hamburger-menu{
	height: 30px;
	width: 30px;
	border-radius: 15px;
	z-index: 20;
	position: absolute;
	top: 20vh;
	left: 1vw;
	-webkit-filter: drop-shadow(1px 1px 5px rgba(255, 255, 255,0.7));
	filter: drop-shadow(1px 1px 5px rgba(255, 255, 255,0.7));
}
/* ------------- CONTENT ------------- */
.content-container{
	display: flex;
	grid-area: content;
	width: 75vw;
	overflow: auto;
}
.content{
	-webkit-box-shadow:0px 0px 5px #fff inset,5px 5px 15px #333 inset;
	border-radius: 5px;
	width: 75vw;
	padding: 25px;
	height: fit-content;
	text-align: center;
	background-color: rgba(105, 105, 105, 0.8);
}
.content ul{
	text-align: start;
}
.content li{
	text-align: start;
}

.assets-container {
	display: flex;
	justify-content: space-around;
}
.assets-img-container img{
	height: 300px;
}
.assets-img-container{
	border-radius: 5px;
	border: black solid;
	height: fit-content;
}
/* ------------- LOGGED IN ------------- */
.logged-in-sub-menu {

}


/* ------------- FOOTER ------------- */
.footer{
	display: flex;
	justify-content: space-between;
	color: white;
	height: 25px;
	position: sticky;
	width: 100%;
	bottom: 0;
	left: 0;
	grid-area: footer;
	background-color: rgba(20, 20, 20, 0.9);
	-webkit-box-shadow: 0px -1px 9px 0px #fff, 0px 5px 15px #333 inset;
}
.footer div{
	margin: 0 15px 0 15px;
}
.hide{
	display: none;
}
/* ------------ SCROLLBAR ------------ */
::-webkit-scrollbar {
	/* width */
	width: 16px;
}
::-webkit-scrollbar-track {
	/* Track */
	background: #f1f1f1;
	border-radius: 15px;
	box-shadow: inset 0 0 5px black;
}
::-webkit-scrollbar-thumb {
	/* Handle */
	width: 15px;
	border-radius: 15px;
	background: #888;
	box-shadow: inset 0 0 7px black;
}
::-webkit-scrollbar-thumb:hover {
	/* Handle on hover */
	background: #555;
}
/* ------------- @MEDIA ------------- */
@media screen and (max-width: 1800px) {
	.header h1 {
		font: bold 50px arial, sans-serif;
	}
	h1 {
		font-size: 30px;
	}
	.header-right {
		display: none;
	}
	.main {
		grid-template-areas:
		"header header header header "
		"menu . content . ";
	}
	.content-container{
		width: 75vw;
	}
	.content{
		width: 75vw;
	}
	.assets-container {
		justify-content: unset;
		flex-direction: column;
	}
}
@media screen and (max-width: 900px) {
	.header h1 {
		font: bold 25px arial, sans-serif;
	}
	h1 {
		font-size: 15px;
	}
}

/* ------------- TWITCH ------------- */
.follow-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.follow {
	width: 100%;
    border-radius: 10px;
    border-style: inset;
    text-align: start;
    border-color: #4A4A4A;
    background: #434343;
    padding: 5px;
}
