html {
	background-image: url("/assets/background.jpeg");
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
	/* background: linear-gradient(-200deg, #e66465, #9198e5); */
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: larger;

}
body {
	box-sizing: border-box;
	margin: 0;
	min-height: 100vh;
}
a:link {
	color:burlywood
}
a:visited {
	color:rgb(147, 124, 250)
}

*, *:before, *:after {
	box-sizing: inherit;
}
.main {
	min-height: 100vh;

	display: grid;
	/* grid-template-columns: 10vw 5vw auto 15vw; */
	grid-template-rows: auto;
	grid-template-areas:
	"header header header header header"
	"menu . content . ."
	"footer footer footer footer footer";
}

.header{
	overflow: hidden;
	position: sticky;
	color: white;
	text-align: center;
	display: grid;
	grid-template-columns: 15% auto 15%;
	grid-template-rows: auto;
	grid-template-areas:
	"header-left header-top header-right"
	"header-left header-bottom header-right";
	min-height: 15vh;
	grid-area: header;
	border-bottom: outset 2px black;

}
.header h1 {
	margin-block: 0;
	line-height: 0;
	font: bold 100px arial, sans-serif;
	background-color: #F8BE2B;
	color: transparent;
	text-shadow: 2px 2px 3px rgba(42, 42, 42, 0.5);
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	-webkit-text-stroke: 0.5px  #000000;
}

.header-left{
	grid-area: header-left;

}
.header-top{
	grid-area: header-top;

}
.header-bottom{
	display: flex;
	justify-content: center;
	grid-area: header-bottom;

}
.header-bottom button{
}

.header-right{
	grid-area: header-right;
	padding: 10px;

}

.header img{
	margin: 5%;
	z-index: -10;
	/* position: absolute; */
	width: 5vw;
}
.menu{
	border-radius: 15px;
	position: absolute;
	min-height: 35vh;
	max-height: 55vh;
	min-width: 15vw;
	max-width: 15vw;
	left: 1%;
	top: 25%;
	grid-area: menu;
	background-color: yellow;
	transition-duration: 0.5s;
}
.menu-hide {
	left: -200vh;
}

.hamburger-menu{
	border-radius: 15px;
	z-index: 20;
	position: absolute;
	top: 20vh;
	left: 1vw;
}


.content{
	text-align: center;
	grid-area: content;
	background-color: rgba(105, 105, 105, 0.8);
	min-height: 80vh;
	min-width: 50vw;
	max-width: 70vw;
}

.content ul{
	text-align: start;

}

.assets-container {
	display: flex;
	width: 100%;
	height: 100%;
}
.assets-img-container img{
	height: 300px;
}
.assets-img-container{

}

.footer{
	text-align: center;
	color: white;
	height: 25px;
	position: sticky;
	bottom: auto;
	left: 0;
	grid-area: footer;
	background-color: rgba(20, 20, 20, 0.9);

}


.hide{
	display: none;
}